.top-logo {
  display: inline-block;
  padding-right: 40px;
}


.search-bar{
  border: 3px solid #58595B;
}

.search-label{
  color: #323132;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #58595B;
  text-align: center;
}